@use "../tools";

footer {
  margin: clamp(140px, -4.752vw + 13.027rem, 188px) clamp(0px, 24.038vw - 15.385rem, 100px) 0;
  display: grid;
  background-color: tools.$color-dark;
  border-top-right-radius: clamp(0px, 10.817vw - 6.923rem, 45px);
  border-top-left-radius: clamp(0px, 10.817vw - 6.923rem, 45px);
  padding: 50px clamp(20px, 3.96vw + 0.186rem, 60px) clamp(30px, 1.98vw + 1.343rem, 50px);
  grid-template-areas:
  "logo navigation social"
  "contact contact contact"
  "line line line"
  "rights rights rights";

  @media (min-width: 1440px) {
    width: clamp(1240px, 100vw - 12.5rem, 1720px);
  }

  @media (max-width: 1280px) {
    grid-template-areas:
  "logo navigation navigation"
  "contact contact social"
  "contact contact social"
  "line line line"
  "rights rights rights";
  }

  @media (max-width: 1024px) {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 100%;
    row-gap: 37px;
  }

  & .logotype-light {
    grid-area: logo;
    width: clamp(144px, 3.564vw + 8.042rem, 180px);
  }

  & ul {
    grid-area: navigation;
    display: flex;
    //gap: 40px;
    gap: clamp(15px, 6.01vw - 2.909rem, 40px);
    justify-self: center;
    @media (max-width: 1024px) {
      flex-direction: column;
    }

    & .footer-link {
      @include tools.size-line-height(1.125rem);
      color: tools.$color-base;
      @media (max-width: 1024px) {
        font-size: 1rem;
        line-height: 1.5rem;
      }

      &:hover {
        text-decoration: underline;
      }
    }
  }


  & .footer-block-contact {
    grid-area: contact;
    display: flex;
    gap: clamp(40px, 71.25vw - 54.5rem, 154px);
    margin-top: clamp(37px, 2.871vw + 1.541rem, 66px);
    @media (max-width: 1280px) {
      align-items: center;
      gap: clamp(30px, 39.063vw - 23.125rem, 130px);
    }
    @media (max-width: 1024px) {
      flex-direction: column;
      margin: 0;
    }

    & .contact-info {

      & h4 {
        display: inline-block;
        @include tools.size-line-height(1.25rem);
        font-family: "Space Grotesk Medium";
        background-color: tools.$color-accent;
        border-radius: 7px;
        padding-left: 7px;
        padding-right: 7px;
        margin-bottom: 27px;
        @media (max-width: 1024px) {
          @include tools.size-line-height(1.125rem);
          margin-bottom: 37px;
        }
      }

      & p {
        @include tools.size-line-height(1.125rem);
        color: tools.$color-base;
        @media (max-width: 1024px) {
          @include tools.size-line-height(1rem);
        }

        &:nth-of-type(1) {
          padding-bottom: clamp(15px, 0.495vw + 0.804rem, 20px);
        }

        &:nth-of-type(2) {
          padding-bottom: clamp(15px, 0.495vw + 0.804rem, 20px);

        }
      }
    }

    & form {
      background-color: #292a32;
      border-radius: 14px;
      padding: clamp(30px, 2.772vw + 1.13rem, 58px) clamp(30px, 0.99vw + 1.609rem, 40px);
      max-width: 635px;
      display: flex;
      gap: 20px;
      @media (max-width: 1280px) {
        flex-direction: column;
      }

      & input {
        width: 285px;
        @include tools.size-line-height(1.125rem);
        padding: 22px clamp(25px, 0.99vw + 1.296rem, 35px);
        color: tools.$color-base;
        background: none;
        border: 1px solid tools.$color-base;
        border-radius: 14px;
        @media (max-width: 1024px) {
          font-size: 1rem;
          line-height: 1.5rem;
        }

        &::placeholder {
          color: tools.$color-base;
        }
      }

      & button {
        @include tools.basic-button;
        background-color: tools.$color-accent;
      }
    }
  }

  & .footer-social-icons {
    grid-area: social;
    gap: 20px;
    display: flex;
    justify-content: end;
    @media (max-width: 1280px) {
      flex-direction: column;
      justify-content: center;
    }
    @media (max-width: 1024px) {
      flex-direction: row;
    }

    & img {
      width: 30px;
    }
  }

  & hr {
    grid-area: line;
    border: 0.5px solid tools.$color-base;
    width: clamp(390px, 72.277vw + 4.95rem, 1120px);
    margin: 50px auto;
    @media (max-width: 1024px) {
      margin: 0 auto;
    }
  }

  & .footer-block-rights {
    grid-area: rights;
    display: flex;
    gap: clamp(15px, 2.475vw + 0.272rem, 40px);
    @media (max-width: 1024px) {
      flex-direction: column;
    }


    & p {
      font-size: 1.125rem;
      line-height: 28px;
      color: tools.$color-base;
      @media (max-width: 1024px) {
        font-size: 1rem;
        line-height: 1.5rem;
      }

      & a:hover {
        text-decoration: underline;
      }
    }
  }
}