@use "../tools";


header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  margin-bottom: clamp(40px, 2.941vw + 1.71rem, 70px);

  & .logotype-dark {
    & a img {
      width: clamp(144px, 7.525vw + 6.978rem, 220px);
    }
  }

  //desktop
  & nav.desktop-menu {
    @media (max-width: 1024px) {
      display: none;
    }

    & ul.menu-items {
      display: flex;
      align-items: center;
      gap: 2.5rem;

      & a {
        font-size: 1.25rem;
        color: tools.$color-font;

        &:hover {
          text-decoration: underline;
        }
      }

      & button {
        @include tools.basic-button;
        border: 1px solid black;
        background-color: tools.$color-base;

        &:hover {
          background-color: tools.$color-light;
          cursor: pointer;
        }
      }
    }
  }

  //mobile
  & nav.mobile-menu {
    display: none;
    @media (max-width: 1024px) {
      display: block;
    }

    & #menu-toggle {
      opacity: 0;

      &:checked ~ .menu-btn > span:nth-child(1) {
        transform: rotate(45deg);
        top: -9px;
      }

      &:checked ~ .menu-btn > span:nth-child(2) {
        opacity: 0;
      }

      &:checked ~ .menu-btn > span:nth-child(3) {
        transform: rotate(-45deg);
        top: -9px;
      }

      &:checked ~ .menu-items {
        //visibility: visible;
        //right: 0;
        display: flex;
      }
    }

    & label.menu-btn {
      z-index: 1;
      display: flex;
      align-items: center;
      position: relative;
      width: 32px;
      @media (max-width: 768px) {
        width: 26px;
      }

      & span {
        display: block;
        position: absolute;
        width: 100%;
        height: 3px;
        background-color: tools.$color-font;
        border-radius: 5px;
        transition-duration: 300ms;

        @media (max-width: 768px) {
          height: 2px;
        }

        &:nth-child(1) {
          content: '';
          top: -20px;
          @media (max-width: 768px) {
            top: -17px;
          }
        }

        &:nth-child(2) {
          content: '';
          top: -9px;
          @media (max-width: 768px) {
            top: -9px;
          }
        }

        &:nth-child(3) {
          content: '';
          top: 2px;
          @media (max-width: 768px) {
            top: -1px;
          }
        }
      }
    }

    & .menu-items {
      background-color: tools.$color-light;
      display: none;
      flex-direction: column;
      align-items: end;
      position: absolute;
      top: 33px;
      left: 0;
      width: 100%;
      padding: 15px;
      gap: 20px;
      border-bottom-right-radius: 14px;
      border-bottom-left-radius: 14px;

      & a {
        font-size: 1.25rem;
        letter-spacing: 3px;
        color: tools.$color-font;

        &:hover {
          text-decoration: underline;
        }
      }

      & button {
        @include tools.basic-button;
        border: 1px solid black;
        background-color: tools.$color-base;
        padding: 10px 20px;

        &:hover {
          background-color: tools.$color-light;
          cursor: pointer;
        }
      }

      transition-duration: 300ms;
    }
  }

  &:has(#menu-toggle:checked) {
    margin-bottom: 300px;
    transition-duration: 300ms;
  }
}


main {
  display: flex;
  justify-content: space-between;
  margin-bottom: clamp(60px, 0.99vw + 3.484rem, 70px);

  & .introduction {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    max-width: 530px;
    @media (max-width: 1024px) {
      max-width: none;
    }

    & .introduction-title {
      @include tools.size-line-height(3.75rem);
      @media (max-width: 1024px) {
        @include tools.size-line-height(2.7rem);
      }
    }

    & .main-illustration {
      display: none;
      @media (max-width: 1024px) {
        display: block;
        padding: 10px;
      }

      & img {
        display: block;
        width: 100%;
      }
    }

    & .introduction-description {
      font-size: 1.25rem;
      line-height: 1.75rem;
      @media (max-width: 1024px) {
        font-size: 1rem;
        line-height: 1.5rem;
        padding-top: 20px;
      }
    }

    & .introduction-link {
      @include tools.basic-button;
      width: 264px;
      border: none;
      background-color: tools.$color-dark;
      color: tools.$color-base;
      @media (max-width: 1024px) {
        margin-top: 40px;
        width: 100%;
      }
    }
  }

  & .main-illustration {
    align-self: center;
    @media (max-width: 1024px) {
      display: none;
    }

    & img {
      display: block;
      width: 100%;
    }
  }
}

.carousel-wrapper {
  width: 100%;
  overflow: hidden;
  position: relative;

  & .carousel {
    display: flex;
    gap: clamp(37px, 5.743vw + 0.769rem, 96px);
    align-items: center;
    animation: slide 10s linear infinite;

    & .item {
      flex: 0 0 130px;
      text-align: center;

      & img {
        width: 100%;
        height: auto;
        object-fit: contain;
        filter: grayscale(100%);
      }
    }
  }

  @keyframes slide {
    100% {
      transform: translateX(calc((130px + clamp(37px, 5.743vw + 0.769rem, 96px)) * 6 * -1));
    }
  }

  & .carousel-reverse {
    display: none;
    gap: clamp(37px, 5.743vw + 0.769rem, 96px);
    align-items: center;
    animation: slide-reverse 10s linear -5s infinite;
    @media (max-width: 1024px) {
      display: flex;
    }

    & .item {
      flex: 0 0 130px;
      text-align: center;

      & img {
        width: 100%;
        height: auto;
        object-fit: contain;
        filter: grayscale(100%);
      }
    }
  }
  @keyframes slide-reverse {
    0% {
      transform: translateX(calc((130px + clamp(37px, 5.743vw + 0.769rem, 96px)) * 6 * -1));
    }
  }

}
