@use "../tools";

.team-block {
  display: flex;
  flex-wrap: wrap;
  gap: 40px;

  & .team-block-card {

    padding: 40px 35px;
    border: 1px solid tools.$color-dark;
    border-radius: 45px;
    box-shadow: 0 5px 0 0 tools.$color-dark;
    max-width: 387px;

    & .card-elem {
      display: flex;
      align-items: end;

      & .person {
        width: 103px;
        height: 103px;
        margin-right: 20px;
      }

      & section {
        & h4 {
          font-family: "Space Grotesk Medium";
          @include tools.size-line-height(1.25rem);

        }

        & p {
          @include tools.size-line-height(1.25rem);
        }
      }

      & .team-link {
        margin-left: auto;
        margin-bottom: auto;
      }
    }
  }

  & hr {
    border: 0.5px solid tools.$color-font;
    //height: 186px;
    //width: 317px;
    margin: 28px auto;
  }

  & p {
    @include tools.size-line-height(1.25rem);
  }
}

.team-block-action {
  display: flex;
  justify-content: end;
  margin-top: 40px;

  & .team-button {
    @include tools.basic-button;
    align-self: flex-end;
    padding: 20px 76px 20px 76px;
    border-radius: 14px;
    font-size: 1.25rem;
    line-height: 1.75rem;
    border: none;
    background-color: tools.$color-dark;
    color: tools.$color-base;
  }

}