@use "../tools";

.testimonials-block {
  background: tools.$color-dark;
  border-radius: 45px;
  height: clamp(554px, 7.03vw + 32.736rem, 625px);
  position: relative;
  overflow: hidden;

  & .testimonials-block-list {
    display: flex;
    transition: transform 0.5s ease-in-out;
    transform: translateX(110%);
    justify-content: center;
    align-items: center;
    @media (max-width: 768px) {
      transform: translateX(210%);
    }
    @media (max-width: 480px) {
      transform: translateX(224%);

    }

    & .testimonials-block-card {
      flex: 0 0 53%;
      box-sizing: border-box;
      width: clamp(330px, 27.327vw + 13.281rem, 606px);
      margin: auto 30px;
      @media (max-width: 768px) {
        flex: 0 0 95%;
      }

      & .bubble {
        position: relative;
        max-width: 606px;

        & .testimonial {
          @include tools.size-line-height(1.125rem);
          color: tools.$color-base;
          background-color: tools.$color-dark;
          border: 1px solid tools.$color-accent;
          border-radius: 45px;
          position: absolute;
          top: clamp(30px, 5.347vw + 0.438rem, 84px);
          padding: clamp(30px, 2.178vw + 1.29rem, 52px);
          @media (max-width: 1024px) {
            font-size: 1rem;
            line-height: 1.5rem;
          }

          &:before {
            position: absolute;
            width: 39px;
            height: 39px;
            bottom: -20px;
            left: 64px;
            transform: rotate(45deg);
            border-right: 1px solid tools.$color-accent;
            border-bottom: 1px solid tools.$color-accent;
            background-color: tools.$color-dark;
            content: '';
          }
        }

        & .testimonial-person {
          position: absolute;
          top: clamp(390px, -0.693vw + 23.749rem, 370px);
          left: 80px;

          & .title {
            font-family: "Space Grotesk Medium";
            @include tools.size-line-height(1.25rem);
            color: tools.$color-accent;
            @media (max-width: 1024px) {
              @include tools.size-line-height(1.125rem);
            }
          }

          & .subtitle {
            @include tools.size-line-height(1.125rem);
            color: tools.$color-base;
            @media (max-width: 1024px) {
              font-size: 1rem;
              line-height: 1.5rem;
            }
          }
        }
      }
    }
  }

  & .testimonials-block-navigation {
    position: absolute;
    bottom: clamp(60px, 0.792vw + 3.537rem, 68px);
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 clamp(30px, 31.188vw - 6.507rem, 345px);

    & button {
      background: none;

      &:hover {
        opacity: 30%;
      }
    }

    & .radio-buttons {
      gap: 19px;
      display: flex;

      & input[type="radio"] {
        //display: none;
        appearance: none;
        outline: none;

        &:checked {
          //background-image: url("../../icons/testimonials-radio-button-active.svg");
          content: url("../../icons/testimonials-radio-button-active.svg");
        }

        &:before {
          content: "";
          background-image: url("../../icons/testimonials-radio-button.svg");
          display: block;
          width: 14px;
          height: 14px;
        }
      }
    }
  }
}
